:root {
  font-family: $sans-font;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  color: $text-1;
  background-color: $surface-body;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: $text-2;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $secondary;
  cursor: pointer;
  color: #fff;
  transition: border-color 0.25s;
}
button:hover {
  background-color: $secondary-hover;
  transition: all 200ms ease;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

header {
  background-color: $primary;
  width: 100%;
  padding: $size-5 0;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: $text-1;
//     background-color: #fff;
//   }
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     color: #fff;
//     background-color: $text-1;
//   }
// }
