$primary: #ffe600;
$secondary: #3483fa;
$secondary-hover: #1e6dff;

$surface-body: #eeeeee;

$text-1: #333333;
$text-2: #666666;
$text-3: #999999;

$shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.132), 0px 0.3px 0.9px rgba(0, 0, 0, 0.108);

$size-1: 0.25rem; /* 4px */
$size-2: 0.75rem; /* 12px */
$size-3: 0.875rem; /* 14px */
$size-4: 1rem; /* 16px */
$size-5: 1.125rem; /* 18px */
$size-6: 1.25rem; /* 20px */
$size-7: 1.375rem; /* 22px */
$size-8: 1.5rem; /* 24px */
$size-9: 1.625rem; /* 26px */
$size-10: 1.75rem; /* 28px */
$size-11: 1.875rem; /* 30px */
$size-12: 2rem; /* 32px */
$size-13: 2.125rem; /* 34px */
$size-14: 2.25rem; /* 36px */
$size-15: 2.375rem; /* 38px */
$size-16: 2.5rem; /* 40px */
$size-17: 2.625rem; /* 42px */
$size-18: 2.75rem; /* 44px */
$size-19: 2.875rem; /* 46px */
$size-20: 3rem; /* 48px */
$size-21: 3.125rem; /* 50px */
$size-22: 3.25rem; /* 52px */
$size-23: 3.375rem; /* 54px */
$size-24: 3.5rem; /* 56px */

$sans-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
